#svgResult{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.equal rect{
    stroke: black;
    stroke-width: 2;
    fill: none;
}

.delete rect{
    stroke: red;
    stroke-width: 3;
    fill: #ffe6e6;
}

.insert rect{
    stroke: green;
    stroke-width: 3;
    fill: #e6ffe6;
}

.equal text{
    fill: black;
    font-size: 0.5em;
}

.delete text{
    fill: red;
    font-weight: 600;
    /* text-decoration-line: line-through; */
    font-size: 0.5em;
}

.insert text{
    fill: green;
    font-weight: 600;
    /* text-decoration-line: underline; */
    font-size: 0.5em;
}

input[type=range] {
    width: 30%;
}